/* Reset dafault browser margins */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#ui-layer {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    pointer-events: none;
}

.glitch {
    color: #00f2ff;
    font-size: 5rem;
    letter-spacing: 10px;
    text-shadow: 0 0 20px #00f2ff;
}